# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
dist/
build/
*.egg-info/

# Testing & coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# Docker
*.tar

# OS
.DS_Store
